<footer>
    <span class="clinic-info">© Veterinary clinic "Vet-life"</span>

    <span class="author-container">
        All rights reserved by
        <a href="mailto:viktor.patraboi@gmail.com">
            okedo
        </a>
    </span>
</footer>

</html>