<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="<%=metaTags.pageContent %>">
    <meta content="Vet Life - ветеринарна клініка в місті Чернівці" property="og:title">
    <meta content="<%=metaTags.url %>" property="og:url">
    <meta content="website" property="og:type">
    <meta content="<%=pageTitle %>" property="og:title">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SN72XZ2N60"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SN72XZ2N60');
    </script>