<div class="header-line"></div>
<nav class="navigation-menu">
    <ul class="menu">
        <a href="/" class="clinic-logo-container">
            <img src="/icons/pug.png" width="110" height="110" alt="Logo">
        </a>
        <div class="menu-buttons">
            <a class="menu-button" href="/services">
                <span class="link-text">Послуги</span>
            </a>
            <a class="menu-button" href="/gallery">
                <span class="link-text">Галерея</span>
            </a>
            <a class="menu-button" href="/workdays">
                <span class="link-text">Графік прийому</span>
            </a>
            <a class="menu-button" href="/staff">
                <span class="link-text">Про нас</span>
            </a>
            <a class="menu-button" href="/contacts">
                <span class="link-text">Контакти</span>
            </a>
            <div class="sm-container">
                <a href="https://www.instagram.com/vet_life_cv/?hl=ru" target="_blank">
                    <img src="/icons/ig-logo-black.svg" class="instagram-icon" alt="Instagram" width="36" height="36">
                </a>
            </div>
        </div>
    </ul>
    <ul class="mobile-menu">
        <a href="/" class="clinic-logo-container">
            <img src="/icons/pug.png" width="110" height="110" alt="Logo">
        </a>

        <div>
            <img class="burger-icon" load="lazy" src="/icons/burger.png" width="90" height="90" alt="Burger">
        </div>

        <div id="mobile-menu-buttons" class="menu-buttons">
            <a class="menu-button" href="/services">
                <span class="link-text">Послуги</span>
            </a>
            <a class="menu-button" href="/gallery">
                <span class="link-text">Галерея</span>
            </a>
            <a class="menu-button" href="/workdays">
                <span class="link-text">Графік прийому</span>
            </a>
            <a class="menu-button" href="/staff">
                <span class="link-text">Про нас</span>
            </a>
            <a class="menu-button" href="/contacts">
                <span class="link-text">Контакти</span>
            </a>
            <div class="sm-container">
                <a href="https://www.instagram.com/vet_life_cv/?hl=ru" target="_blank">
                    <img src="/icons/ig-logo-black.svg" class="instagram-icon" alt="Instagram" width="36" height="36">
                </a>
            </div>
        </div>
    </ul>
</nav>
<script src="/js/nav.js"></script>