<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/gallery.css">
<link rel="stylesheet" href="/css/grid-gallery.min.css">

</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="main-container">
        <div class="gg-container">
            <div class="gg-box">
                <img load="lazy" alt="pet" src="/img/p1.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p2.png" class="grid">
                <img load="lazy" alt="pet" src="/img/p3.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p5.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p4.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p6.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p7.png" class="grid">
                <img load="lazy" alt="pet" src="/img/p8.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p9.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p10.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p11.png" class="grid">
                <img load="lazy" alt="pet" src="/img/p12.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p13.jpg" class="grid">
                <img load="lazy" alt="pet" src="/img/p14.jpg" class="grid">
            </div>
        </div>
    </main>
    <script src="/js/grid-gallery.min.js"></script>
    <script src="/js/gallery.js"></script>
</body>
<%- include('../includes/end.ejs') %>