<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main class="main-container">
                <div class="pets-background">
                    <article class="main-text-container">
                        <h2>
                            Ветеринарна клініка <%= pageTitle %>

                                </h3>
                                <section>
                                    Наша клініка пропонує Вам широкий спектр ветеринарних послуг, кваліфіковану допомогу
                                    та
                                    профілактику, сучасне обладнання та діагностичні методики
                                </section>
                                <div>
                                    <a href="/staff">Про нас</a>
                                    <a href="/contacts">Записатись на прийом</a>
                                </div>
                    </article>
                </div>
            </main>
    </body>
    <%- include('../includes/end.ejs') %>