<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/services.css">

</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="main-container">
        <h2 class="main-title">
            Послуги
        </h2>
        <section>
            <article>
                <h3>Профілактичний огляд</h3>
                <img src="/img/pet-diagnostic.jpg" load="lazy">
                <div class="service-description">
                    Регулярне відвідування ветеринара допоможе вам попередити розвиток багатьох захворювань. Саме тому
                    не варто відкладати профілактичні огляди вашого улюбленця.
                </div>
            </article>
            <article>
                <h3>Щеплення</h3>
                <img src="/img/pet-shot.jpg" load="lazy">
                <div class="service-description">
                    Вакцинація – найефективніший спосіб захисту вашого улюбленця від інфекційних захворювань.
                </div>
            </article>
            <article>
                <h3>Хірургія</h3>
                <img src="/img/dog_surgery.jpg" load="lazy">
                <div class="service-description">
                    Досвідчені хірурги, новітнє
                    обладнання та стаціонар для післяопераційного перебування тварин.
                </div>
            </article>
            <article>
                <h3>Дерматологія</h3>
                <img src="/img/vet-derma.jpg" load="lazy">
                <div class="service-description">
                    Лікування захворювань шкіри та шерсті. Діагностика і проведення досліджень шкірних покривів тварини.
                </div>
            </article>
            <article>
                <h3>УЗД</h3>
                <img src="/img/ultrasound_in_cats.jpg" load="lazy">
                <div class="service-description">
                    Сучасне спеціалізоване обладнання УЗД дозволяє нашим ветеринарним лікарям якісно оцінити стан
                    внутрішніх органів тварин і швидко поставити точний діагноз.
                </div>
            </article>
            <article>
                <h3>Чіпування</h3>
                <img src="/img/pet-microchip.jpg" load="lazy">
                <div class="service-description">
                    Введення електронного чіпа під шкіру тварини для визначення власника в разі втрати. Також чіпування
                    необхідно вихованцям, яких вивозять за кордон.
                </div>
            </article>
            <article>
                <h3>Аптека</h3>
                <img src="/img/medicine.jpg" load="lazy">
                <div class="service-description">
                    Широкий асортимент ліків і лікувальних кормів для собак, кішок та інших тварин в нашій ветеринарній
                    аптеці. Вся продукція сертифікована.
                </div>
            </article>
        </section>
    </main>
</body>
<%- include('../includes/end.ejs') %>