<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('../includes/nav.ejs') %>
<main class="main-container">
    <article class="main-info">
        Ветеринарна клініка "VetLife" була заснована 12 грудня 2020 року. Клініці довіряє
        велика кількість власників домашніх тварин. Це не дивно, адже у нас працюють першокласні
        фахівці, які постійно підвищують свій професійний рівень.
    </article>
    <section class="doctors">
        <article class="doctor-container">
            <h2>Горбань Микола Сергійович</h2>
            <img load="lazy" src="/img/vet1.jpg" alt="Лікар 1">
            <div>Лікар вететринарної медицини, фахівець УЗД, хірург</div>
        </article>
        <article class="doctor-container">
            <h2>Комар Катерина Андріївна</h2>
            <img load="lazy" src="/img/vet2.jpg" alt="Лікар 2">
            <div>Лікар ветеринарної медицини, терапевт, кардіолог, нефролог</div>
        </article>
    </section>
</main>
<%- include('../includes/end.ejs') %>